*{
    padding: 0;
    margin: 0;

}
body{
    background-color: rgba(9,27,41,255);
    width: 100;
    margin: 0 auto;

}
section{
    width: 85%;
    margin: 0 auto;

}
.main{
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;


}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header .navbar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.header .navbar a{
margin: 0 -83px;
font-size: 15px;


color: white;
}
.header a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.main{
}

.portfolio_text{
    /* background-color: white; */
    width: 60%;
    position: relative;
}
.portfolio_text div{
    /* background-color: red; */
    position: absolute;
    width: 100%;
    top: 200px;

}
.portfolio_img img{
    height: 700px;

}
.main .portfolio_text h1{
    font-size: 55px;
    color: white;
    font-family: "Poppins", sans-serif;

    
}
.main .portfolio_text h2{
    font-size: 35px;
    padding-bottom: 20px;
    color: rgba(5,166,218,255);
    font-family: "Poppins", sans-serif;

}
.main .portfolio_text p{
    color: white;
    margin-bottom: 35px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    width: 542px;

}
.main .portfolio_text a{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(5,166,218,255);
    text-decoration: none;
color:rgba(10,28,43,255) ;
font-weight: bold;
}
.main .portfolio_text .btn2{
    margin-left: 20px;
}